/****************************************************
Variables
****************************************************/
$green: #00b351;
$black: #232517;
$white: #eaeeff;
/****************************************************
Basics
****************************************************/
body {
  background-color: $white;
}
h1,
h3 {
  text-align: center;
  color: $green;
}
.ReactCrop__crop-selection {
  border-image-source: none !important;
}
// AIMOTIVE button
.button:hover {
  color: $green;
  border-color: $green;
}
.button {
  font-family: CoreSansC, Helvetica, Roboto, Arial, sans-serif;
  background-color: $white;
  color: $black;
  border-color: $black;
  margin-bottom: 0;
  padding: 0.8rem 3.5rem;
  letter-spacing: 0;
  padding: 0.5rem 2rem;
  font-weight: 700;
  border-width: 2px;
  outline-width: 0;
  transition-property: all;
  border-radius: 7px;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  margin: 0 0 1rem;
}
.header {
  text-align: center;
}
/****************************************************
Pictures.js
****************************************************/
.main {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.picture-block {
  margin-bottom: 10px;
}
img {
  cursor: pointer;
  width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 10px;
}
.main-pictures {
  transition: all 0.25s ease-in-out;
  -webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.25);
  &:hover {
    transform: translateY(-5px);
  }
}
/****************************************************
ActivePicture.js
****************************************************/
.active-picture {
  h3 {
    color: $black;
  }
}
/****************************************************
Categories.js
****************************************************/
.categoryHider {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  z-index: 2;
}
.categories {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  font-size: 36px;
  display: inline;
  line-height: 80px;
  cursor: pointer;
}
.dialog {
  box-shadow: 0 8px 6px -6px $black;
  position: static;
  left: 20%;
  top: 10%;
}
/****************************************************
LastViewed.js
****************************************************/
.last-viewed {
  h3 {
    color: $black;
  }
}
